.greeting{
    font-size: 72px;
    background: linear-gradient(to right, rgb(132, 204, 22), rgb(59, 130, 246));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.hero p{
    line-height: 1.75rem;
    font-size: 18px;
    font-weight: 300;
}
.x{
    font-size: 24px;
    animation: blink 1s infinite;
}
.hero a{
    color:#1da1f2;
}



@keyframes blink {
    0% {
      color: #1da1f2; /* initial color */
    }
    50% {
      color: transparent; /* blink effect */
    }
    100% {
      color: #1da1f2; /* return to initial color */
    }
  }