@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

.greeting{
    font-size: 72px;
    background: linear-gradient(to right, rgb(132, 204, 22), rgb(59, 130, 246));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.hero p{
    line-height: 1.75rem;
    font-size: 18px;
    font-weight: 300;
}
.x{
    font-size: 24px;
    animation: blinking 1s infinite;
}
.hero a{
    color:#1da1f2;
}



@keyframes blinking {
    0% {
      color: #1da1f2; /* initial color */
    }
    50% {
      color: transparent; /* blink effect */
    }
    100% {
      color: #1da1f2; /* return to initial color */
    }
  }

  .typing {
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    font-size: 5px;
    width: 0;
    margin-left: 1rem;
    border-right: 2px solid rgba(255, 255, 255, 0.409);
    animation: type 6s steps(46) 2s forwards infinite, blink 0.5s steps(1) infinite;
    color:#ec6442c8;
    letter-spacing: 1.5px;
  }
  
  @keyframes type {
    to {
      width: 46ch;
    }
  }
  
  @keyframes blink {
    0%,
    100% {
      border-color: transparent;
    }
  
    50% {
      border-color: #ffffff62;
    }
  }
  