body {
    background-color: rgb(34 39 46);;
    color: rgb(173, 186, 199);
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0% 20% 0% 20%;
  }